#activities-container {
    padding: 0;
}

.activity {
    padding: 0.5rem !important;
}

.activity-img {
    width: 40px;
    height: 100%;
    margin-right: 0.5rem;
}

.activity-time {
    text-align: end;
    font-size: 13px;
}

.activity-description {
    font-size: 14px;
}

#activities-container p {
    margin: 0;
}

.activity-icon {
    font-size: 20px;
}
