@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Encode Sans";
}

#root, html {
    background-color: #DEE2E6;
}

#app-container {
    padding: 0;
}

#loading-msg {
    position: absolute;
    left: 20px;
    top: 20px;
}