#root, html {
    background-color: #DEE2E6;
}

#header-container {
    margin: 2rem 0 1.5rem;
}

#header-container h2 {
    margin: 1rem 0;
}

#header-container img {
    margin: auto 10px;
    width: 50px;
    height: 50px;
}

#header-container p {
    margin: auto 0;
}

#logout {
    width: 80px;
    margin: 0.5rem 0 0 auto;
}

#footer-container {
    margin: 2rem 0;
}

#footer-container p {
    margin: auto 0;
}

@media screen and (max-width: 767px) {
    #header-container h2 {
        font-size: 25px;
    }

    #header-container img {
        width: 45px;
        height: 45px;
    }

    #header-container p {
        font-size: 14px;
    }

    #logout {
        font-size: 14px;
        width: 65px;
    }
}

@media screen and (max-width: 575px) {
    #dashboard-container {
        padding: 0 1rem;
    }

    #header-container {
        margin: 2rem 0 5.5rem;
    }

    #header-container img {
        width: 40px;
        height: 40px;
    }

    #logout-wrapper {
        position: absolute;
        top: 100px;
        right: 1rem;
    }
}