#example-movie-card {
    height: 350px;
}

#example-card-header {
    display: flex;
    background-color: white;
}

.example-card-img {
    width: 144px;
    height: 81px;
    color: #E0E0E0;
}

#example-movie-card p {
    text-align: center;
    color: #0000008C;
}

@media screen and (max-width: 575px) {
    #example-movie-card {
        height: 100%;
    }
}
