#empty-list-config {
    padding: 0.5rem 0;
}

#empty-list-config p {
    padding: 0 0.5rem;
    margin: 0;
    color: #0000008C;
}

#list-settings-container {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 575px) {
    #sort-dropdown {
        font-size: 15px;
    }

    .sort-option {
        font-size: 14px !important;
    }

    #empty-list-config p {
        font-size: 14px;
    }
}
