#list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 1rem;
}

#progress-bar {
    width: 80px !important;
}

#movie-card {
    height: 355px;
}

#movie-card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#movie-card-body {
    padding-top: 0.5rem !important;
}

#close-card {
    position: absolute;
    background-color: lightgrey;
    right: 4px;
    top: 4px;
}

.card-img {
    width: 240px;
    height: 135px;
}

#user-rating {
    padding-top: 0.25rem;
    margin-left: -0.25rem;
}

#movie-title {
    font-size: 16px;
    padding: 0;
    margin: 0 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#movie-date, #movie-score {
    font-size: 14px;
    margin: 0;
}

#movie-description {
    font-size: 14px;
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#footer-icons {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.footer-icon {
    font-size: 24px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.footer-icon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

#card-button {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    font-size: 14px;
}

@media screen and (max-width: 1199px) {
    #list-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #movie-card {
        height: 340px;
    }
}

@media screen and (max-width: 991px) {
    #list-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 767px) {
    #list-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #movie-card {
        height: 350px;
    }
}

@media screen and (max-width: 575px) {
    #list-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    .card-body {
        padding: 0.5rem !important;
    }

    #movie-card {
        height: 100%;
    }

    #movie-title {
        font-size: 14px;
        margin-bottom: 2rem;
    }

    #footer-icons {
        left: 0.5rem;
        bottom: 0.5rem;
    }

    #card-button {
        right: 0.5rem;
        bottom: 0.5rem;
        font-size: 12px;
        padding: 0.25rem 0.5rem;
    }
}

@media screen and (max-width: 399px) {
    .card-img {
        padding-bottom: 1.75rem !important;
    }
}