#list-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 1rem;
}

#movie-card {
    height: 350px;
}

#movie-card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#close-card {
    position: absolute;
    background-color: lightgrey;
    right: 4px;
    top: 4px;
}

.card-img {
    width: 240px;
    height: 135px;
}

#movie-title {
    font-size: 18px;
    margin: 0.25rem 0;
}

#movie-date, #movie-score {
    font-size: 14px;
    margin: 0.25rem 0;
}

#movie-description {
    font-size: 14px;
    margin: 0.5rem 0;
}

#footer-icons {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.footer-icon {
    font-size: 24px;
    margin-right: 0.5rem;
    cursor: pointer;
}

.footer-icon:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

#card-button {
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
    font-size: 14px;
}

.modal-img {
    width: 250px;
    height: 375px;
}

#movie-modal p {
    margin: auto 0;
    font-size: 15px;
}

#modal-info {
    margin: 0 1rem;
}

#modal-stats p {
    font-weight: bold;
}

#modal-description {
    padding: 1rem 0;
}

#modal-notes p {
    padding-bottom: 0.25rem;
}

@media screen and (max-width: 1199px) {
    #list-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 991px) {
    #list-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #modal-body img {
        margin-bottom: 1.5rem;
        width: 150px;
        height: 225px;
    }
}

@media screen and (max-width: 767px) {
    #list-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 575px) {
    #list-container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.5rem;
    }

    .card-body {
        padding: 0.5rem !important;
    }

    #movie-card {
        height: 100%;
    }

    #movie-title {
        font-size: 14px;
        margin-bottom: 2.25rem;
    }

    #footer-icons {
        left: 0.5rem;
        bottom: 0.5rem;
    }

    #card-button {
        right: 0.5rem;
        bottom: 0.5rem;
        font-size: 12px;
        padding: 0.25rem 0.5rem;
    }

    .modal-title {
        font-size: 20px !important;
    }

    #modal-info p {
        font-size: 14px;
    }
}

@media screen and (max-width: 399px) {
    .card-img {
        padding-bottom: 1.75rem !important;
    }

    #modal-body {
        flex-direction: column;
    }

    #modal-body img {
        width: 100%;
        height: auto;
    }
}