#main-container {
    width: 100%;
    min-height: 62.5vh;
    padding: 0;
}

#tabs-nav p {
    margin: auto 0;
    padding-right: 0.5rem;
}

.tabs-icon {
    font-size: 22px;
}

#list-stat {
    margin: auto 0;
    font-size: 15px;
}

#empty-list-config {
    padding: 0.5rem 0;
}

#empty-list-config p {
    padding: 0.5rem;
    margin: 0;
    color: #0000008C;
}

@media screen and (max-width: 767px) {
    #tabs-nav {
        flex-direction: column;
    }

    #list-stat {
        font-size: 14px;
        text-align: end;
        padding: 0.25rem 0 0.5rem;
    }
}

@media screen and (max-width: 575px) {
    #tabs-nav {
        flex-direction: row;
    }

    #list-stat {
        font-size: 14px;
        padding: 0;
    }

    .nav-link {
        padding: 0.5rem 0.75rem !important;
    }

    #empty-list-config p {
        font-size: 15px;
    }
    
}