#main-container {
    width: 100%;
    min-height: 62.5vh;
    padding: 0;
}

#tabs-nav p {
    margin: auto 0;
    padding-right: 0.5rem;
}

.tabs-icon {
    font-size: 22px;
}

#list-stat {
    margin: auto 0;
    font-size: 15px;
}

#content-body {
    padding: 0 1rem 1rem;
}

#pagination-container {
    padding: 1rem !important;
}

.page-item.active {
    z-index: 0 !important;
}

.toast-icon {
    font-size: 20px;
    margin-right: 0.5rem;
}

.toast-body {
    background-color: white !important;
}

.trash {
    color: black;
}

.favorites {
    color: #DC3545
}

.watchList {
    color: #0275D8;
}

.watching {
    color: #fd7e14;
}

.watched {
    color: #28A745;
}

.rating {
    color: rgba(255, 183, 0, 0.824);
}

@media screen and (max-width: 992px) {
    .nav-link {
        padding: 0.5rem !important;
    }

    #list-stat {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    #tabs-nav {
        flex-direction: column;
    }

    #list-stat {
        text-align: end;
        padding: 0.25rem 0 0.5rem;
    }
}

@media screen and (max-width: 575px) {
    #tabs-nav {
        flex-direction: row;
    }

    #list-stat {
        font-size: 14px;
        padding: 0;
    }

    .nav-link {
        padding: 0.5rem 0.75rem !important;
    }
}
