#search-container {
    margin: 1.5rem 0;
    padding: 0;
}

#search-icon {
    font-size: 24px;
    margin: auto 0.5rem auto 0;
}

#input {
    max-width: 550px;
}

#results {
    position: absolute;
    margin: 0.5rem 1rem 0 2rem;
    max-width: 550px;
    max-height: 600px;
    z-index: 10;
    overflow-y: auto;
}

#results-text p {
    margin: 0 1rem;
}
  
#results img {
    width: 50px;
    height: 75px;
}

.results-icon {
    cursor: pointer;
    font-size: 24px;
}

.fav-icon:hover {
    color: #DC3545;
}

.watch-icon:hover {
    color: #0275D8;
}

.watched-icon:hover {
    color: #28A745;
}

@media screen and (max-width: 575px) {
    #results {
        margin: 0.5rem 1rem 0 0rem;
        max-height: 500px;
    }

    #results-text p {
        font-size: 14px;
    }

    .results-icon {
        font-size: 22px;
    }
}