#settings-container {
    padding: 0;
}

#settings-container p {
    margin: 0;
}

#profile-title p, #general-title p, #update-title p {
    font-size: 15px;
}

#default-country, #update-item {
    margin: 0 !important;
    width: 100% !important;
    height: 36.5px;
    font-size: 15px;
    line-height: 1.5 !important;
}

.settings-section-icon {
    font-size: 22px;
    margin-right: 5px;
}

.update-section-icon {
    font-size: 23px;
    margin-right: 5px;
}

#user-settings-form, #general-settings-form, #update-settings-form {
    padding: 15px 0 25px;
}

.email-status-icon {
    font-size: 22px;
}

#user-settings-form label, #user-settings-form input,
#general-settings-form label, #update-settings-form label {
    font-size: 15px;
}

#update-profile-btn, #update-items-btn {
    font-size: 15px;
    width: 72px;
    height: 36px;
}

#error-msg {
    font-size: 15px;
    padding-left: 0.5rem;
    color: #dc3545;
}

#learn-more-link:hover {
    cursor: pointer;
    text-decoration: underline;
}