#settings-container {
    padding: 0;
}

#settings-container p {
    margin: 0;
}

#profile-title p {
    font-size: 15px;
}

.settings-section-icon {
    font-size: 22px;
    margin-right: 5px;
}

#user-settings-form {
    padding: 15px 0 20px;
}

#user-settings-form label, #user-settings-form input {
    font-size: 15px;
}

#update-profile-btn {
    font-size: 15px;
    width: 75px;
    height: 38px;
}

#error-msg {
    font-size: 15px;
    padding-left: 0.5rem;
    color: #dc3545;
}