#sidebar-header {
    padding: 1rem;
}

#sidebar-title {
    font-size: 16px;
}

#sidebar-title img {
    width: 45px;
    height: 45px;
}

#sidebar-title p {
    margin: auto 10px;
}

#sidebar-body {
    padding: 0 1rem 1rem;
}

#sidebar-menu {
    padding: 1rem 0 1.5rem;
}

.sidebar-tab {
    font-size: 15px;
    padding: 0.25rem 1rem !important;
    text-align: center !important;
}

@media screen and (max-width: 767px) {
    #logout {
        font-size: 14px;
    }
}
