#update-item-modal-body {
    padding-bottom: 0 !important;
}

@media screen and (max-width: 575px) {
    #update-item-modal-body p {
        font-size: 15px !important;
        margin-bottom: 0.75rem;
    }
}
